@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
  }

 /*header*/

.header {
    background-color: white;
    line-height: 70px;
    padding-left: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  
    color: mediumblue;
}

.logout {
    float: right;
    padding-right: 30px;
}

/*side menu*/
ul {
    width: 14%;
    height: 100%;
    position: fixed;
    text-align: left;
    margin: 20px;
}

ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
}

ul li a {
    color: black;
    font-weight: bold;
}

ul li a:hover {
    color:yellowgreen;
    text-decoration: none;
}

@media (max-width: 767px) {
  #sideBarMenu {
    display: none;
  }
}

@media (min-width: 768px) {
  #sideBarMenu {
    display: block;
  }
}



/*login*/
#login-form{
    width:50%;
    margin: 5px auto;
    text-align: center;
    padding: 30px;
    border-top: 3px solid darkgreen;
  }
  
  #login-form input{
    width: 50%;
    margin: 5px auto;
  }
  
  #login-form #login-btn{
    background-color: darkgreen;
    color: white;
  }
  
  #login-form #register-url{
    color:darkgreen;
  }